@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: 'Nunito', sans-serif;

$light: #fbfbff;
$tv-green: #62929e;
$primary: $tv-green;
$info: #65b3e3;
$danger: #f15946;

$card-background-color: #ebf1f3;
$body-background-color: $light;
$navbar-background-color: $tv-green;

// Update some of Bulma's component variables
@import '../node_modules/bulma/bulma.sass';
