@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: 'Nunito', sans-serif;

$light: #fbfbff;
$web-gray: #4B5043;
$blackish: #090909;
$BC4: #9BC4BC;
$D3F: #D3FFE9;
$DDB: #8DDBE0;

$primary: $DDB;
$info: $BC4;
$danger: $blackish;

$card-background-color: #eeeeee;
$body-background-color: $D3F;
$navbar-background-color: $web-gray;
$navbar-item-color: white;

// Update some of Bulma's component variables
@import '../node_modules/bulma/bulma.sass';
