@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
$family-sans-serif: 'Nunito', sans-serif;

$light: #fbfbff;
$tv-green: #62929e;
$amethyst: #675682;
$blue-topaz: #67aeca;
$jewel: #5f0f4e;
$rose: #e52a6f;
$primary: $amethyst;
$info: $jewel;
$danger: $rose;

$card-background-color: #eeeeee;
$body-background-color: $light;
$navbar-background-color: $amethyst;
$navbar-item-color: white;

// Update some of Bulma's component variables
@import '../node_modules/bulma/bulma.sass';
